@import url(./_website/footer__text_website.css);

.footer__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.01em;  
    color: #FFFFFF;
}